<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js" integrity="sha512-11t8Q+vY9JlCrr+PveZKTYJq8n7O09Y5X/pk/aMd3vJugSvu4xOunGEUzaADqL3I8cZKE/pBwwCfXzDkRJh2sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body style="text-align: center;font-family: Arial, serif;font-size: 14pt;">

    <script type="text/javascript">
        $(document).ready(function() {
            var socket = io.connect("http://192.168.1.206:5000");
            socket.on('connect', function() {
                socket.send("User connected!");
            });

            socket.on('message', function(data) {
                $('#messages').append($('<p>').text(data));
            });

            $('#sendBtn').on('click', function() {
                socket.send($('#username').val() + ": " + $('#message').val());
                $('#message').val('');
            });
        })
    </script>

    <div id="messages" style="margin: 0 auto;width: 60%;text-align: left; min-height: 300px;">

    </div>
    <input type="text" name="" id="username" placeholder="Username" required>
    <input type="text" name="" id="message" placeholder="Message" required>
    <button id="sendBtn">Send</button>
    
</body>
</html>